.wrapper {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
	width: 100%;
	margin: 0 auto;
	border: 2px solid var(--yellow);
	border-radius: 0.5rem;
	max-height: 60vh;
	overflow-y: auto;
}

.tableTitle {
	font-size: 1.5rem;
	font-weight: 600;
}
/* .table {
	width: 100%;
	background-color: transparent;
	border: 1px solid white;
} */

.headerCells {
	display: grid;
	grid-template-columns: 30% 1fr;
	width: 100%;
	font-size: 1.25rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid;
}

.tableData {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.item {
	background-color: #caa80016;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: 30% 1fr;
	transition: background-color 0.15s ease-in-out;
}

.item:hover {
	background-color: #caa8009a;
}
