.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	height: 36.5625rem;
}
.tableTitle {
	font-size: 1.5rem;
	font-weight: 600;
	align-self: center;
}
.table {
	width: 100%;
	background-color: transparent;
	border: 1px solid white;
}
